{# 
/**
* only visibule on mobile on page-front and page
* 
*/
  #}

<div class="r-overlay-contact">

  <div class="r-overlay-contact__inner">

    <div class="r-overlay-contact__close js-close-contact">
      <div class="c-close-btn"></div>
    </div>

    <div class="r-overlay-contact__body">
      {# block-region translatable with custom-block #}
        {{ page.contactoverlay}}
        {# not in a content type because of extra security, also does not need to be translated #}
           <script>mail("info","pts",0,"","")</script>
    </div>

  </div>
</div>