{# 
/**
* only Visible on mobile on page-front and page
* content-type info
* 
*/
  #}

<div class="r-overlay-contact">
  <div class="r-overlay-contact__inner">

    <div class="r-overlay-contact__close js-close-contact">
      <div class="c-close-btn"></div>
    </div>

    <div class="r-overlay-contact__body">
      {# block-region content-type info #}
        {{ page.contactoverlay}}

        <div class="c-email-protecting">
          {# not as field in content-type "info" because of extra security, 
          also does not need to be translated #}
            <a href="{{ 'eb.stp@ofni:otliam'|reverse }}" >{{ 'eb.stp@ofni'|reverse }}</a>
        </div>
        
    </div>

  </div>
</div>