{# 
/**
* footer-bottom
*/
 #}

 <footer class="r-footer-bottom">
  <div class="container u-flex-content u-flex-content--center">
    <div class="r-footer-bottom__inner">
      <div class="r-footer-bottom__copy">{{ site_name }} | Copyright © {{ "now"|date("Y") }}</div>
      <div class="r-footer-bottom__menu">{{ page.footermenu }}</div>
    </div>
  </div>
</footer>