{# 
/**
* mobile menu
*/ 
#}

<div class="r-menu-overlay">
  <div class="r-menu-overlay__close js-close-menu">
      <span class="c-close-btn">&nbsp;</span>
  </div>
  <div class="r-menu-overlay__list">
   {{ page.mobilemenu }}
  </div>
  <div class="r-menu-overlay__social">
    <a href="https://www.facebook.com/pts.be/">
      <img  class="social-icon" src="{{ base_path ~ directory }}/images/facebook-icon.png" alt="Facebook icon" />
    </a>
  </div>

</div>