{# 
/**
* 29-11-2019
* top-header region phone and language switcher
*/
#}

<region class="r-top-header">
  <div class="r-top-header__left">
    <div class="c-phone--mobile">
      {# no block region must be untranslatable #}
      <a class="c-phone-link" href="tel:011659845">011659845</a>
    </div>
    <div class="c-phone--desktop">
      {# block-region topheader-left translatable #}
      {{ page.topheaderleft }}
    </div>
  </div>
  <div class="r-top-header__right">
    <div class="c-language-selector">
      {# block-region languageselector #}
      {{ page.languageselector }}
    </div>
  </div>
</region>