{# 
/**
* 29-11-2019
* highlighted and parts region teasers
*/
#}

<div class="container">

  <region class="r-highlghted-parts">

    <div class="r-highlighted">
      {{ page.highlighted }}
    </div>
    {# <!-- end highlighted --> #}

    <div class="r-parts">
      <div class="r-parts__inner">
         {{ page.parts }}
      </div>
    </div>
    {# end parts #}

  </region>
  {# end region highlighted-parts #}

</div>
{# end container  #}