// /////////////////////////
// @@ UTILITIES
// ////////////////////////

.u-flex-content {

    display: flex;

    &--center {
      justify-content: center;
    }

    &--right {
        justify-content: right;
    }
}

.u-list-item-right {
    float: right;
}