// //////////////////////////////
// @@ MAIN MENU
// //////////////////////////////

.c-main-menu {

    &__items {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;

    }

    &__item {
        margin-left: 0;
        &:not(:last-child) {
            padding-right: 1rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $black;

        &:hover {
            color: $dark-gray;
        }
    }
}

.is-active {
    border-bottom: 1px solid $gray;
}