// //////////////////////////////
// @@ MENU OVERLAY COMPONENT
// //////////////////////////////
.c-menu-overlay {

    &__items {}

    &__item {
        font: {
            size: 4rem;
        };
        line-height: 6rem;

    }

    &__link {
      text-decoration: none;
      line-height: 4rem;
      color: $white;
  }
}

 