// //////////////////////////////
// @@ PHONE TOP-HEADER 
// //////////////////////////////

.c-phone {

  &--mobile {
    border: 1px solid $white;
    padding: 1rem;

    @include mq(tablet){
      display: none;
    }
  }

  &-link {
    text-decoration: none;
    color: $white;
  }

  &--desktop {
    display: none;
    font: {
      size: 1.6rem;
    };

    p {
      margin-bottom: 0;
    }

    @include mq(tablet) {
      display: block;
    }
  }
}