// /////////////////////////
// @@ READMORE
// ////////////////////////

.c-readmore {

    a {
        text-decoration: none;
    }       

    &--white {
        a {
            color: $white;

            &:hover {
                border-bottom: 1px solid $white;
            }
        }
    }

    &--black {
        a {
            color: $black;
        
            &:hover {
                border-bottom: 1px solid $black;
            }
        }

    }

    &__links {
        list-style: none;
    }

    &__link {
        margin-left: 0;
    }
}