// //////////////////////////////
// @@ MENU HEADER
// //////////////////////////////

.header {
  margin-bottom: $margin-b;
  display: flex;
  justify-content: space-between;

  &__logo {

    &-img {
      width: 45vw;
      max-width: 19rem;
      height: auto;
    }
  }
    
    &__menu {
      display: none;
  }
}