// //////////////////////////////
// @@ MENU HEADER
// //////////////////////////////

.r-header {
  margin-bottom: $margin-b;
  display: flex;
  justify-content: space-between;

  &__contact {

    &--mobile {
      
    }
  }

  &__logo {

    &-img {
      width: 45vw;
      max-width: 19rem;
      height: auto;
    }
  }
    
  &__menu {
    display: none;
  }

}