// //////////////////////////////
// @@ MENU HEADER
// //////////////////////////////

.r-header {
  margin-bottom: $margin-bb;
  display: flex;
  justify-content: space-between;

  &__contact {

    &--mobile {
      @include mq(desktop) {
        display: none;
      }
    }
  }

  &__logo {

    &-img {
      width: 45vw;
      max-width: 19rem;
      height: auto;
    }
  }
    
  &__menu {
    display: none;
    padding-top: 2rem;

    @include mq(desktop) {
      display: block;
    }

    &--mobile {

      @include mq(desktop) {
        display: none;
      }

    }
  }

}