// /////////////////////////
// @@ HIGHLIGHTED PARTS
// ////////////////////////

// region on frontpage = wrapper for highlighted and parts

.r-highlghted-parts {
    margin-bottom: $margin-b;

    @include mq(tablet) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2rem;
    }
}