// /////////////////////////
// @@ INFO
// ////////////////////////

.r-info {
    color: $white;
    margin-bottom: $margin-b;
    display: flex;
    flex-direction: column;

    @include mq(tablet) {
        flex-direction: row;
    }

    &__img {
        width: 50%;
        max-width: 30rem;
        float: left;
        margin-right: 1.5rem;
    }


    &__news {
        background-color: $accent;
        padding: 2rem;

        @include mq(tablet){
            width: 50vw;
        }

        &--desktop {
           
            @include mq(desktop) {
                margin-left: 10vw;
            }
        }

    }

    &__aboutus {
        background-color: $dark-gray;
        padding: 2rem;

        @include mq(tablet){
            width: 50vw;
        }

        &--desktop {
           
            @include mq(desktop) {
                margin-right: 10vw;
            }
        }

    }
}