// /////////////////////////
// @@ INFO
// ////////////////////////

.info {
    color: $white;
    margin-bottom: $margin-b;
    display: flex;
    flex-direction: column;

    &__news {
        background-color: $red;
        padding: 2rem;

    }

    &__aboutus {
        background-color: $dark-gray;
        padding: 2rem;

    }
}
