/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #eaeaea; }

p {
  margin-bottom: 1.5rem; }

a:hover {
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  display: block; }

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

html {
  font-family: "Raleway", sans-serif; }

body {
  font-size: 1.6rem;
  line-height: 2rem; }

h1, h2, h3, h4 {
  font-weight: 700; }

h1 {
  font-size: 4vw;
  line-height: 100%;
  text-transform: uppercase; }
  @media screen and (min-width: 62.5em) {
    h1 {
      font-size: 3vw; } }

h2 {
  font-size: calc(1.6rem + .9rem);
  margin-bottom: 3rem;
  line-height: 3rem; }

h3 {
  font-size: calc(1.6rem + .4rem);
  margin-bottom: 1rem; }

strong {
  font-weight: 700; }

.container {
  width: 90vw;
  max-width: 102,4rem;
  margin: 0 auto; }

.menu-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 99;
  color: #eaeaea;
  background: #6d6e70;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: ". btn ." ". list ."; }
  @media screen and (min-width: 62.5em) {
    .menu-overlay {
      display: none; } }
  .menu-overlay__close {
    grid-area: btn;
    text-align: right;
    padding-right: 3rem;
    padding-top: 8rem; }
  .menu-overlay__list {
    grid-area: list;
    text-align: center; }
  .menu-overlay__link {
    text-decoration: none;
    line-height: 4rem;
    color: #eaeaea; }
  .menu-overlay--visible {
    opacity: 1;
    right: 0; }

.top-header {
  background-color: #e70103;
  padding: 0 1rem;
  height: 6rem;
  color: #eaeaea;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header__logo-img {
    width: 45vw;
    max-width: 19rem;
    height: auto; }
  .header__menu {
    display: none; }

.trailers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.trailer-model {
  position: relative;
  margin-bottom: 3rem; }
  .trailer-model__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #eaeaea;
    padding: 1rem 2rem;
    background-color: #6d6e70; }

.info {
  color: #eaeaea;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .info__news {
    background-color: #e70103;
    padding: 2rem; }
  .info__aboutus {
    background-color: #494947;
    padding: 2rem; }

.highlighted {
  background-color: #6d6e70;
  margin-bottom: 3rem;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer {
  background-color: #494947;
  color: #eaeaea; }

.hamburger-btn {
  height: 4rem;
  width: 4rem;
  border: 1px solid #494947;
  text-align: center;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  margin-top: -1.6rem;
  cursor: pointer; }
  .hamburger-btn--open {
    position: relative;
    top: -7px;
    -webkit-transform: translateY(2.5rem);
    transform: translateY(2.5rem);
    width: 2rem; }
    .hamburger-btn--open, .hamburger-btn--open::before, .hamburger-btn--open::after {
      height: 1px;
      background-color: #6d6e70;
      display: inline-block;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .hamburger-btn--open::before, .hamburger-btn--open::after {
      content: "";
      position: absolute;
      left: 0; }
    .hamburger-btn--open::before {
      top: -0.6rem;
      width: 2rem; }
    .hamburger-btn--open::after {
      top: 0.6rem;
      width: 2rem; }
  .hamburger-btn--close {
    position: relative;
    width: 0; }
    .hamburger-btn--close, .hamburger-btn--close::before, .hamburger-btn--close::after {
      height: 1px;
      background-color: #eaeaea;
      display: inline-block;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .hamburger-btn--close::before, .hamburger-btn--close::after {
      content: "";
      position: absolute;
      left: 0; }
    .hamburger-btn--close::before {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 1rem;
      width: 2rem; }
    .hamburger-btn--close::after {
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      top: 1rem;
      width: 2rem; }

/*# sourceMappingURL=styles.css.map */
