/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #eaeaea; }

p {
  margin-bottom: 1.5rem; }

a:hover {
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  display: block; }

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

html {
  font-family: "Raleway", sans-serif; }

body {
  font-size: 1.6rem;
  line-height: 2rem; }

h1, h2, h3, h4 {
  font-weight: 700; }

h1 {
  font-size: 4vw;
  line-height: 100%;
  text-transform: uppercase; }
  @media screen and (min-width: 62.5em) {
    h1 {
      font-size: 3vw; } }

h2 {
  font-size: calc(1.6rem + .9rem);
  margin-bottom: 3rem;
  line-height: 3rem; }

h3 {
  font-size: calc(1.6rem + .4rem);
  margin-bottom: 1rem; }

strong {
  font-weight: 700; }

.container {
  width: 90vw;
  max-width: 102.4rem;
  margin: 0 auto; }

.r-menu-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 99;
  color: #eaeaea;
  background: #6d6e70;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: ". btn ." ". list ." ". social ."; }
  @media screen and (min-width: 62.5em) {
    .r-menu-overlay {
      display: none; } }
  .r-menu-overlay__close {
    grid-area: btn;
    text-align: right;
    padding-top: 3rem; }
  .r-menu-overlay__list {
    grid-area: list;
    text-align: center; }
  .r-menu-overlay__link {
    text-decoration: none;
    line-height: 4rem;
    color: #eaeaea; }
  .r-menu-overlay__social {
    grid-area: social;
    justify-self: end; }
  .r-menu-overlay--visible {
    opacity: 1;
    right: 0; }

.r-overlay-contact {
  opacity: 0;
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 99;
  color: #eaeaea;
  background: #6d6e70;
  -webkit-transition: all 0.9s;
  transition: all 0.9s; }
  .r-overlay-contact__close {
    padding-top: 1rem;
    height: 4rem;
    text-align: right;
    width: 88vw; }
  .r-overlay-contact__body {
    width: 80vw;
    margin: 20rem auto 0; }
  .r-overlay-contact--visible {
    opacity: 1;
    left: 0; }

.r-top-header {
  background-color: #e70103;
  padding: 0 1rem;
  height: 6rem;
  color: #eaeaea;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.r-header {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (min-width: 37.5em) {
    .r-header__contact--mobile {
      display: none; } }
  .r-header__logo-img {
    width: 45vw;
    max-width: 19rem;
    height: auto; }
  .r-header__menu {
    display: none;
    padding-top: 2rem; }
    @media screen and (min-width: 37.5em) {
      .r-header__menu {
        display: block; } }
    @media screen and (min-width: 37.5em) {
      .r-header__menu--mobile {
        display: none; } }

.trailers {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 37.5em) {
    .trailers {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }

.trailer-model {
  position: relative;
  margin-bottom: 3rem; }
  @media screen and (min-width: 37.5em) {
    .trailer-model {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 24rem; } }
  .trailer-model__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem;
    background-color: #6d6e70; }

.r-info {
  color: #eaeaea;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 37.5em) {
    .r-info {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .r-info__img {
    width: 50%;
    max-width: 25rem;
    float: left;
    margin-right: 1rem; }
  .r-info__news {
    background-color: #e70103;
    padding: 2rem; }
    @media screen and (min-width: 37.5em) {
      .r-info__news {
        width: 50vw; } }
    .r-info__news--desktop {
      height: 100%; }
      @media screen and (min-width: 62.5em) {
        .r-info__news--desktop {
          margin-left: 10%; } }
  .r-info__aboutus {
    position: relative;
    background-color: #494947;
    padding: 2rem; }
    @media screen and (min-width: 37.5em) {
      .r-info__aboutus {
        width: 50vw; } }
    @media screen and (min-width: 62.5em) {
      .r-info__aboutus--desktop {
        margin-right: 10vw; } }

@media screen and (min-width: 37.5em) {
  .highlghted-parts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start; } }

@media screen and (min-width: 37.5em) {
  .highlighted {
    border: 1px solid #6d6e70;
    padding: 2rem; } }

@media screen and (min-width: 37.5em) {
  .highlighted__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem; } }

.highlighted__item {
  position: relative;
  margin-bottom: 3rem; }

.highlighted__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem;
  background-color: #e70103; }

.parts {
  color: #eaeaea; }
  .parts__inner {
    position: relative;
    background-color: #6d6e70;
    padding: 4rem;
    margin-bottom: 3rem; }
  .parts__body {
    padding: 1rem 0; }

.footer {
  background-color: #494947;
  color: #eaeaea;
  padding: 2rem 0; }
  @media screen and (min-width: 37.5em) {
    .footer__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem; } }
  .footer__left {
    padding: 2rem 0;
    margin-bottom: 3rem;
    border-bottom: 1px #eaeaea solid; }
    @media screen and (min-width: 37.5em) {
      .footer__left {
        padding-right: 1rem;
        border-bottom: none;
        border-right: 1px solid #eaeaea;
        margin-bottom: 0; } }
  .footer__right {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer__right-bottom {
      position: relative;
      padding: 2rem 0; }

.c-language__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.c-language__item:not(:last-child) {
  padding-right: 1.6rem; }

.language-link {
  text-decoration: none;
  color: #eaeaea; }

.c-hamburger-btn {
  height: 4rem;
  width: 4rem;
  border: 1px solid #494947;
  text-align: center;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  cursor: pointer; }
  .c-hamburger-btn--open {
    position: relative;
    top: -7px;
    -webkit-transform: translateY(2.5rem);
    transform: translateY(2.5rem);
    width: 2rem; }
    .c-hamburger-btn--open, .c-hamburger-btn--open::before, .c-hamburger-btn--open::after {
      height: 1px;
      background-color: #6d6e70;
      display: inline-block;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .c-hamburger-btn--open::before, .c-hamburger-btn--open::after {
      content: "";
      position: absolute;
      left: 0; }
    .c-hamburger-btn--open::before {
      top: -0.6rem;
      width: 2rem; }
    .c-hamburger-btn--open::after {
      top: 0.6rem;
      width: 2rem; }

.c-main-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.c-main-menu__item:not(:last-child) {
  padding-right: 1rem; }

.c-main-menu__link {
  text-decoration: none;
  color: #12130f; }
  .c-main-menu__link:hover {
    color: #494947; }

.c-close-btn {
  position: relative;
  width: 0; }
  .c-close-btn, .c-close-btn::before, .c-close-btn::after {
    height: 1px;
    background-color: #eaeaea;
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .c-close-btn::before, .c-close-btn::after {
    content: "";
    position: absolute;
    left: 0; }
  .c-close-btn::before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 1rem;
    width: 3rem; }
  .c-close-btn::after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 1rem;
    width: 3rem; }

.c-phone--mobile {
  border: 1px solid #eaeaea;
  padding: 1rem; }
  @media screen and (min-width: 37.5em) {
    .c-phone--mobile {
      display: none; } }

.c-phone-link {
  text-decoration: none;
  color: #eaeaea; }

.c-phone--desktop {
  display: none;
  font-size: 1.6rem; }
  .c-phone--desktop p {
    margin-bottom: 0; }
  @media screen and (min-width: 37.5em) {
    .c-phone--desktop {
      display: block; } }

.social-icon {
  width: 3.2rem; }
  .social-icon--footer {
    position: absolute;
    right: 0; }

.node-link {
  color: #eaeaea;
  text-decoration: none; }

.c-readmore {
  text-decoration: none;
  cursor: pointer;
  right: 2rem;
  bottom: 1rem; }
  .c-readmore--white {
    color: #eaeaea; }

/*# sourceMappingURL=styles.css.map */
