// /////////////////////////
// @@ MORE TRAILERS LINK
// ////////////////////////

// This block view is shown below the trailers on the home page (extra-teaser}.
// node--info--ectra-teaser.html.twig

.n-more-trailers {
    background-color: $accent;
    margin-bottom: $margin-b;
    padding: 1.5rem 0;
    font: {
        size: 2rem;
    };

    &__content {
        text-align: center;

        a {
            color: $white;
            text-decoration: none;
        }
        p {
            margin-bottom: 0;
        }
    }
   
}