// /////////////////////////////
// @@ PARAGRAPH SUB-TRAILER 
// /////////////////////////////

.para-subtrailer {
    padding: 2rem;
    border: 2px solid $gray;

    // paragraph field on content-type level
    &__item {
        &:not(:last-child){
            margin-bottom: $margin-b;
        }
    }


    // paragraph fields
    &__images {}




    &__images-items {

        @include mq(tablet){
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        
    }

    &__images-item {

        &:not(:last-child) {
            margin-bottom: $margin-b;
        }

        @include mq(tablet) {
            max-width: 30%;
            margin: 1rem;
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
}