// /////////////////////////
// @@ PARTS
// ////////////////////////

.node-teaser-parts {}


.node-full-parts {

    &__content-wrap {
        margin-bottom: $margin-b;
    }

   

    &__content {}

    &__img {

        margin-bottom: $margin-b;

        @include mq(tablet) {
            float: left;
            width: 50%;
            max-width: 35rem;
            margin-right: 2rem;
        }
        
    }
}