// ////////////////////////////
// @@ PARTS TEASER AND FULL
// ////////////////////////////

.node-teaser-parts {
    color: $clr-parts;
    text-decoration: none;

    &__title {
        // a {
        //     color: $clr-parts;
        // }
    }
}


.node-full-parts {

    &__content-wrap {
        margin-bottom: $margin-b;
    }

    &__content {}

}