// /////////////////////////
// @@ SHORT MESSAGE
// ////////////////////////

// x node--short-message--full.html.twig

.n-short-message {

    background-color: $gray;
    padding: 4rem;
    margin-bottom: $margin-b;

    &__content {
        color: $black;
    }
}