// //////////////////////////////
// @@ TRAILERS TEASER CONTENT  
// //////////////////////////////

// The front trailer-teaser block highlighted block 
// Used templates
// views-view--trailers-teaser.html.twig
// views-view--trailers-teaser-page.html.twig
// views-view-unformatted--trailers-teaser.html.twig
// views-view-unformatted--trailers-teaser-page.html.twig

.trailer-models {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  @include mq(tablet) {
    flex-direction: row;
  }

  &--view {
    @include mq(tablet) {
      flex-wrap: wrap;
    }
  }

  &__views-row {
    @include mq(tablet) {
      margin: 1rem;
      width: 31%;
    }
  }
 
}

// node--trailer-teaser.html.twig 
// node--trailer--extra-teaser.html.twig

.trailer-model {
  $root: &;

  position: relative;
  margin-bottom: $margin-b;

  &:hover {
    #{$root}__caption {
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &:hover {
    #{$root}__caption--gray {
      background-color: rgba($dark-gray, 1.0);
    }
  }
  
  &:hover {
    #{$root}__caption--accent {
      background-color: rgba($accent, 1.0);
    }
  }

  @include mq(tablet) {
    flex-grow: 1;
    max-width: 95%;
  }

  &__img {}

  &__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 2rem;      
    transition: all 0.9s;

    &--gray {
      background-color: rgba($dark-gray, .7);
    }

    &--accent {
      background-color: rgba($accent, .8);
    }
  }
}