// /////////////////////////
// @@ VARIABLES
// ////////////////////////


// COLORS VARIABLES
$red: #e70103;
$gray: #6d6e70;
$dark-gray: #494947;
$black: #12130f;
$white: #eaeaea;

// FONTS VARIABLES
$ff-sans: 'Raleway', sans-serif;
$ff-size: 1.6rem;
$fw-normal: 400;
$fw-bold: 700;

// LAYOUT VARIABLES
$margin-b: 3rem;

// OTHER
$trans-speed: .3s;