// /////////////////////////
// @@ VARIABLES
// ////////////////////////


// COLORS VARIABLES
$accent: rgb(232, 73, 47);
$gray: rgb(109, 110, 112);
$dark-gray: rgb(49, 49, 47);
$black: rgb(18, 19, 15);
$white: rgb(234, 234, 234);

// FONTS VARIABLES
$ff-sans: 'Raleway', sans-serif;
$ff-size: 1.6rem;
$fw-normal: 400;
$fw-bold: 700;

// LAYOUT VARIABLES
$margin-b: 3rem;
$margin-bb: 6rem;

// OTHER
$trans-speed: .3s;
